input[type="month"] {
  width: 10%;
  padding: 10px 7px;
  margin: 7px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="number"] {
  width: 100px;
  padding: 3px 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.td {
  padding: 2px;
}

button:disabled {
  color: white;
  cursor: not-allowed;
}

.monthYear{
  display: flex;
  align-items: center;
  justify-content: center;
}
