<div *ngIf="isLoading">
  <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{height:'50px'}"> </ngx-skeleton-loader>
</div>

<div class="box-container" *ngIf="!isLoading">
  <h1>Lembaga Getah Malaysia</h1>
  <hr />

  <!-- <table *ngFor="let company of companies">
    <tr>
      <td style="padding-right: 30px">Company Name</td>
      <td><span>:</span></td>
      <td>{{ company.companyName }}</td>
    </tr>

    <tr>
      <td style="padding-right: 75px">Address</td>
      <td><span>:</span></td>
      <td>
        {{ company.address1 }}, {{ company.address2 }}, {{ company.address3 }}
      </td>
    </tr>

    <tr>
      <td style="padding-right: 68px">Postcode</td>
      <td><span>:</span></td>
      <td>{{ company.postcode }}</td>
    </tr>

    <tr>
      <td style="padding-right: 68px">Town</td>
      <td><span>:</span></td>
      <td>{{ company.town }}</td>
    </tr>

    <tr>
      <td style="padding-right: 68px">Phone No</td>
      <td><span>:</span></td>
      <td>{{ company.phone }}</td>
    </tr>

    <tr>
      <td style="padding-right: 68px">Fax No</td>
      <td><span>:</span></td>
      <td>{{ company.fax }}</td>
    </tr>

    <tr>
      <td style="padding-right: 68px">Email</td>
      <td><span>:</span></td>
      <td>{{ company.email }}</td>
    </tr>

    <tr>
      <td style="padding-right: 68px">Manager Contact No</td>
      <td><span>:</span></td>
      <td>{{ company.contactNo }}</td>
    </tr>

    <tr>
      <td style="padding-right: 68px">Manager Name</td>
      <td><span>:</span></td>
      <td>{{ company.managerName }}</td>
    </tr>
  </table> -->

  <table>
    <tr>
      <td style="padding-right: 30px">Company Name</td>
      <td><span>:</span></td>
      <td>Lembaga Getah Malaysia</td>
    </tr>

    <tr>
      <td style="padding-right: 75px">Address</td>
      <td><span>:</span></td>
      <td>
        Malaysian Rubber Board, 18th Floor Bangunan Getah Asli (Menara), 148 Jalan Ampang
      </td>
    </tr>

    <tr>
      <td style="padding-right: 68px">Postcode</td>
      <td><span>:</span></td>
      <td>50450</td>
    </tr>

    <tr>
      <td style="padding-right: 68px">Town</td>
      <td><span>:</span></td>
      <td>Kuala Lumpur</td>
    </tr>

    <tr>
      <td style="padding-right: 68px">Phone No</td>
      <td><span>:</span></td>
      <td>603-9206 2000</td>
    </tr>

    <tr>
      <td style="padding-right: 68px">Fax No</td>
      <td><span>:</span></td>
      <td>603-2163 4492</td>
    </tr>

    <tr>
      <td style="padding-right: 68px">Email</td>
      <td><span>:</span></td>
      <td>general@lgm.gov.my</td>
    </tr>

    <tr>
      <td style="padding-right: 68px">Manager Contact No</td>
      <td><span>:</span></td>
      <td>+6017 291 5888</td>
    </tr>

    <tr>
      <td style="padding-right: 68px">Manager Name</td>
      <td><span>:</span></td>
      <td>Sabariah</td>
    </tr>
  </table>

</div>
