<!-- <div [ngClass]= "{'display': user.role == 'Admin', 'none':user.role == 'Company Clerk'}">
    <button routerLink="/e-estate/company-list" mat-button routerLinkActive="mat-accent">
        <span>Profile</span>
    </button>
        <hr>
</div> -->

<div>
  <button class="side-btn" routerLink="/e-estate/company-list" routerLinkActive="active">
    List of all Companies
  </button>
  <hr />
</div>

<div>
  <button class="side-btn" routerLink="/e-estate/estate-list" routerLinkActive="active">
    List of all Estates
  </button>
  <hr />
</div>

<div>
  <button class="side-btn" routerLink="/e-estate/company-profile" routerLinkActive="active">
    Company Profile
  </button>
  <hr />
</div>

<div>
  <button class="side-btn" routerLink="/e-estate/estate"  routerLinkActive="active">
    List of Estates
  </button>
  <hr />
</div>

<div>
  <button class="side-btn" routerLink="/e-estate/field-info" routerLinkActive="active">
    Field Information
  </button>
  <hr />
</div>

<div>
  <button class="side-btn" routerLink="/e-estate/field-production" routerLinkActive="active">
    Field Production
  </button>
  <hr />
</div>

<div>
  <button class="side-btn" routerLink="/e-estate/labor-info" routerLinkActive="active">
    Labor Information
  </button>
  <hr />
</div>

<div>
  <button class="side-btn" routerLink="/e-estate/cost-info" routerLinkActive="active">
    Cost Information
  </button>
  <hr />
</div>

<div>
  <button class="side-btn" routerLink="/e-estate/utilities" routerLinkActive="active">
    Utilities
  </button>
  <hr />
</div>
