<div class="cont">
  <div class="container">
    <div class="form-container">
      <h1>Login Angular</h1>
      <!-- <span class="span"><img width="70%" style="padding:10px" src ="../assets/Images/login.png"/></span>       -->
      <button (click)="login()">LOGIN</button>
    </div>

    <div class="overlay-container">
      <div class="overlay-panel">
        <h2 style="color: white">Welcome to E-Estate</h2>
        <span class="span"><img  width="50%"  style="padding: 10px" src="../assets/Images/LGM-logo.png"/></span>
      </div>
    </div>
  </div>
</div>

<app-spinner></app-spinner>
